<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yazılarım</title>
    <style>
        header {
            background-color: #f8f9fa;
            padding: 10px 0;
            margin-bottom: 20px;
        }
        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            text-align: center;
        }
        nav ul li {
            display: inline;
            margin-right: 10px;
        }
        nav ul li a {
            text-decoration: none;
            color: #000;
            padding: 5px 10px;
            border-radius: 5px;
            background-color: #007bff;
            color: white;
        }
        .conference-grid {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-top: 20px;
        }
        .conference-item {
            width: 30%;
            margin-bottom: 20px;
            padding: 10px;
            border: 20px solid #ccc;
            border-radius: px;
        }
        .conference-item h2 {
            margin-top: 0;
        }
        .conference-item button {
            background-color: #007bff;
            color: white;
            border: none;
            padding: 5px 10px;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/tum_konferanslar">Tüm Konferanslar</a></li>
                <li><a href="/katildigim_konferanslar">Katıldığım Konferanslar</a></li>
                <li><a href="/olusturdugum_konferanslar">Oluşturduğum Konferanslar</a></li>
                <li><a href="/yazilarim">Yazılarım</a></li>
                <li><a href="#">İncelemelerim</a></li>
                <li><a href="/cikis" class="logout-button">Çıkış Yap</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <h1>İncelemelerim</h1>
        <div class="conference-grid">
            <% reviews.forEach(review => { %>
                <div class="conference-item">
                    <h2>Paper: <%= review.paper.title %></h2>
                    <% if(review.rate < 0) { %>
                        <p>İnceleme yapılması gerekiyor</p>
                        <button onclick="showReviewForm('<%= review._id %>')">İnceleme Ekle</button>
                        <div id="reviewForm_<%= review._id %>" style="display: none;">
                            <form action="/review/<%= review._id %>" method="POST">
                                <div>
                                <div>
                                    <label for="rate_<%= review._id %>">Puan:</label>
                                    <input type="number" id="rate_<%= review._id %>" name="rate" min="0" max="10" required>
                                </div>
                                <div>
                                    <label for="feedback_<%= review._id %>">Geri Bildirim:</label>
                                    <textarea id="feedback_<%= review._id %>" name="feedback" rows="4" cols="50" required></textarea>
                                </div>
                                <button type="submit">Gönder</button>
                            </div>
                            </form>
                        </div>
                    <% } else { %>
                        <p>Rate: <%= review.rate %>/10</p>
                        <p>Feedback: <%= review.feedback %></p>
                    <% } %>
                </div>
            <% }); %>
        </div>
    </main>
    
    
    <script>
        function showReviewForm(reviewId) {
            var reviewForm = document.getElementById('reviewForm_' + reviewId);
            if (reviewForm.style.display === "none") {
                reviewForm.style.display = "block";
            } else {
                reviewForm.style.display = "none";
            }
            
        }
    </script>
    
    
</body>
</html>
