<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yazılarım</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <style>
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      body {
        background-color: #fff7df;
        color: rgb(65, 65, 65);
        text-align: center;
        font-family: "Roboto", sans-serif;
      }
      a {
        text-decoration: none;
      }
      header {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f8f9fa;
        padding: 10px 0;
        margin-bottom: 20px;
        height: 2.25rem;
        border-bottom: 1px solid rgb(227, 218, 218);
      }
      h1 {
        color: #9747ff;
      }
      nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;
      }
      nav ul li {
        display: inline;
        margin-right: 10px;
      }
      nav ul li a {
        text-decoration: none;
        color: #000;
        padding: 5px 10px;
        border-radius: 5px;
        background-color: #9747ff;
        color: white;
      }
      nav ul li a:hover {
        background-color: #542790;
      }
      .conference-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 20px;
      }
      .conference-item {
        width: 30%;
        margin-bottom: 20px;
        padding: 10px;
        border: 4px solid #14ae5c;
        border-radius: 30px;
        background-color: #dcf3e6;
        font-weight: 600;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }

      button {
        background-color: #9747ff;
        color: white;
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
      }
      button:hover {
        background-color: #542790;
      }

      .conference-item h2 {
        margin-top: 0;
      }
    </style>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/tum_konferanslar">Tüm Konferanslar</a></li>
          <li>
            <a href="/katildigim_konferanslar">Katıldığım Konferanslar</a>
          </li>
          <li>
            <a href="/olusturdugum_konferanslar">Oluşturduğum Konferanslar</a>
          </li>
          <li><a href="/yazilarim">Yazılarım</a></li>
          <li><a href="/incelemelerim">İncelemelerim</a></li>
          <li><a href="/cikis" class="logout-button">Çıkış Yap</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <h1>Yazılarım</h1>
      <button onclick="window.location.href='/yazi_yukle'">Yazı Yükle</button>
      <div class="conference-grid">
        <% papers.forEach(paper => { %>
        <div class="conference-item">
          <h2><%= paper.title %></h2>
          <p>ID: <%= paper._id %></p>
          <% if (paper.conferenceId) { %>
          <p id="conferenceName_<%= paper._id %>">
            Konferans Adı: Yükleniyor...
          </p>
          <% } %>
          <p>Özet: <%= paper.abstract %></p>
          <p>Anahtar Kelimeler: <%= paper.keywords %></p>
          <a href="/files/<%= paper._id %>.pdf" class="button">Paper'ı indirmek için tıkla.</a>
          <%if(paper.review){%>
            <p>Reviewer Rate: <%= paper.review.rate %></p>
            <p>Reviewer Feedback: <%= paper.review.feedback %></p>
            <%}%>    
        </div>
        <% }); %>
      </div>
    </main>

    <script>
      async function getConference(conferenceId, elementId) {
          try {
              const response = await fetch(`/conference/${conferenceId}`);
              if (response.ok) {
                  const data = await response.json();
                  document.getElementById(elementId).innerText = "Konferans Adı: " + data.name;
              } else {
                  throw new Error('Konferans bulunamadı.');
              }
          } catch (error) {
              console.error(error);
          }
      }

      // Her bir paper için konferans adını getir
      <% papers.forEach(paper => { %>
          <% if (paper.conferenceId) { %>
              getConference('<%= paper.conferenceId %>', 'conferenceName_<%= paper._id %>');
          <% } %>
      <% }); %>
    </script>
  </body>
</html>
