<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Makale Detayları</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- Stil dosyası yolu -->
</head>
<body>
    <h1>Makale Detayları</h1>
    <div>
        <h2><%= paper.title %></h2>
        <p><strong>Özet:</strong> <%= paper.abstract %></p>
        <p><strong>Anahtar Kelimeler:</strong> <%= paper.keywords.join(', ') %></p>
        <p><strong>Yazar:</strong> <%= paper.author %></p>
        <p><strong>Konferans ID:</strong> <%= paper.conferenceId %></p>
    </div>

    <!-- Düzenleme ve silme işlemleri için bağlantılar -->
    <a href="/paper/edit/<%= paper._id %>">Düzenle</a>
    <a href="/paper/delete/<%= paper._id %>" onclick="return confirm('Bu makaleyi silmek istediğinize emin misiniz?');">Sil</a>
</body>
</html>
